h1 {
  font-family: 'Lora', serif;
  color: white;
}
h2{
  font-family: 'Kufam', cursive;
  text-align: center;
}

header{
  text-align: center;background-color: rgb(41, 40, 40);
}

#par1{
  font-family: 'Work Sans', sans-serif;
}

.responsive{
  width: 100%;
  height: auto;
}

